<h1>File Upload</h1>
<form enctype="multipart/form-data" action="/" method="POST">
<input type="file" name="myFile" id="">
<input type="submit" name=""  class="btn btn-primary">
</form>

<img src="<%=image %>" alt="flowers">
